<% include partials/_header %>
<div class="card-body">

  <form action="/add" method="POST">
    <div class="form-group">
      <input type="text" name="name" placeholder="Name" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <input type="text" name="pago" placeholder="pago" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="lugar" placeholder="lugar" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="motivo" placeholder="motivo" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="fechaPago" placeholder="fechaPago" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">
      save customer
    </button>
  </form>
</div>
<table class="table table-responsive table-striped" >
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Name</th>
      <th scope="col">pago</th>
      <th scope="col">lugar</th>
      <th scope="col">motivo</th>
      <th scope="col">fecha Pago</th>
      <th scope="col">Accion</th>
      <th scope="col">estado</th>
    </tr>
  </thead>
  <tbody>
    <% if (data) { %>
      <% for(var i = data.length-1; i >= 0; i--) { %>
        <tr>
          <td><%= (i+1) %></td>
          <td><%= data[i].name %> </td>
          <td><%= data[i].pago %></td>
          <td><%= data[i].lugar %></td>
          <td><%= data[i].motivo %></td>
          <td><%= data[i].fechaPago %></td>
          <td>
            <a href="/update/<%= data[i].id %>" class="btn btn-outline-primary">Edit</a>
            <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>
   
<% include partials/_footer %>
